.hide-error-spacer {
  .md-errors-spacer {
    display: none;
  }
}

.activity-log {
  md-list-item {
    margin-bottom: 14px;
  }
}

.sidebar-card {
  margin-bottom: 16px;
}

#query {
  width: 800px;
}