@font-face {
  font-family: 'Avenir Next LT';
  font-style: normal;
  font-weight: bold;
  src: local('Avenir Next'), url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Next'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Avenir Next LT';
  font-style: normal;
  font-weight: 800;
  src: local('Avenir Next'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
}

body, h1, h2, h3, h4, h5, div, p, a, .md-subhead, .md-button, #query, .md-headline {
  font-family: "Avenir Next LT";
  color: #3D3D41;
}

body {
  min-width: 800px;
  background: #DCDFE4;
}

form {
  margin-left: auto;
  margin-right: auto;
}

#view {
  border-bottom: 1px solid #AAAAAA;
}

// Soundhound Overrides

.ui.huge.input {
  font-size: 16px;
}

.ui.action.input:not([class*="left action"])>.button:last-child,
.ui.action.input:not([class*="left action"])>.buttons:last-child>.button,
.ui.action.input:not([class*="left action"])>.dropdown:last-child  {
  border-radius: 0px;
}

.md-toolbar-theme {
  background: #1A1E29;
}

.ui.basic.button, .ui.basic.buttons .button {
  &, &:hover, &:active, &:focus {
    border: none;
    box-shadow: none;
  }
}

.md-subhead {
  text-transform: none;
  font-weight: 600;
  color: white;
  font-size: 18px;
}

.md-button.md-toolbar-theme.md-ink-ripple {
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 0px;
}

md-toolbar.md-toolbar-theme.md-hue-3:not(.md-menu-toolbar).md-accent {
  background: #1A1E29;
}

#action-button {
  i {
    color: white;
  }
  background: #FF6330 !important;
  height: 76px;
}

#query {
  margin: 15px 10px 15px 30px;
  border: none;
  padding-top: 15px;
  width: 600px;
}

#textSearchButton {
  .search.big.icon {
    color: #AAAAAA;
    font-size: 20px;
  }
  background: transparent;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: -50px;
}

// Angular material overrides

.layout-padding.ng-scope, .md-padding {
  padding: 40px;
}

.md-raised, .md-button, .md-ink-ripple {
  text-transform: none;
}

.hide-error-spacer {
  .md-errors-spacer {
    display: none;
  }
}

.activity-log {
  md-list-item {
    margin-bottom: 14px;
  }
}

.sidebar-card {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin-bottom: 16px;
}

.md-headline-1 {
  margin-bottom: 20px;
}

.page-header {
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
}

.empty-state {
  opacity: 0.45;
  .empty-state-image {
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
  // width: 100%;
  text-align: center;
}