<section layout-padding>
  <h1 class="page-header">Login</h1>

  <form role="form" layout="column" flex flex-gt-sm="50">
    <p ng-show="err" class="error">{{err}}</p>
    <md-input-container>
      <label for="loginEmail">Email</label>
      <input id="loginEmail" required name="email" type="email" ng-model="email" />
    </md-input-container>
    <md-input-container>
      <label for="loginPass">Password</label>
      <input id="loginPass" required name="pass" type="password" ng-model="pass" />
    </md-input-container>
    <md-input-container class="form-container" ng-cloak ng-show="createMode">
      <label for="loginConfirm">Confirm password</label>
      <input id="loginConfirm" required name="confirm" type="password" ng-model="confirm" />
    </md-input-container>

    <p>
      <md-button class="md-raised" ng-click="passwordLogin(email, pass)" ng-hide="createMode">Log In</md-button>
      <md-button class="md-raised" ng-click="createMode = true" ng-hide="createMode">Register</md-button>
      <md-button class="md-raised" ng-cloak ng-show="createMode"
              ng-click="createAccount(email, pass, confirm)">Create Account</md-button>
      <md-button class="md-raised" ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</md-button>
    </p>
  </form>
</section>