<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="Activity Feed">
    <md-content class="md-padding">
      <h1 class="page-header">Activity Feed</h1>

      <div class="empty-state">
        <img class="empty-state-image" src="/images/empty_state.png"></img>
        <h3 ng-show="feed.length === 0">
          Nothing to display! Try asking a question.
        </h3>
      </div>

      <md-list>
        <md-list-item ng-repeat="event in feed">
          <div flex layout="row" layout-align="start center">
            <span class="md-body-1">{{event.date | amCalendar}}</span>
            <span flex="5"></span>
            <p flex class="md-title">{{event.WrittenResponseLong}}</p>
          </div>
        </md-list-item>
      </md-list>

    </md-content>
  </md-tab>
  <md-tab label="Medications">
    <md-content class="md-padding">

      <h1 class="md-headline-1 page-header">Medications</h1>
      <div layout="row" layout-align="space-between start" layout-wrap>
        <div flex="20" class="sidebar-card md-whiteframe-1dp" ng-repeat="prescription in prescriptions">
          <h3>{{prescription.name}}</h3>
          <p class="md-body-1">{{prescription.frequency}}</p>
        </div>
      </div>

    </md-content>
  </md-tab>
</md-tabs>
