<md-toolbar class="md-primary md-hue-3">
  <div class="md-toolbar-tools">
  <md-button class="md-icon-button">
    <md-icon class="md-48">mic</md-icon>
  </md-button>
  <!-- <h2> -->
    <md-input-container md-no-float class="md-accent md-hue-1 hide-error-spacer">
      <input name="search" 
             ng-model="search" 
             placeholder="Say something!">
    <!-- <span>"Say something, like <i>"I just took tylenol."</i></span> -->
    </md-input-container>
  <!-- </h2> -->
  </div>
</md-toolbar>

<md-divider></md-divider>